<% provide(:title, @title) %>
<header>
    <nav class="top">
      <ul class="nav">
        <li><%= link_to(image_tag("icons/House.svg"), root_path) %></li>
        <li><%= link_to(image_tag("icons/user.svg"), show_user_path(current_user.id)) %></li>
        <li><%= link_to(image_tag("icons/Settings.svg"), edit_user_registration_path) %></li>
        <li><%= link_to(image_tag("icons/Logout.svg"), destroy_user_session_path) %></li>
      </ul>
      <ul>
        <li class="right"><a href="#"><!-- <img src="icons/Icon_pen.svg" alt=""> --><%= image_tag("icons/Icon_pen.svg")%></a></li>
        <li class="right input"><input type="text" placeholder="search"></li>
      </ul>
    </nav>
    <%= link_to(root_path) do %><div class="top"></div><% end %>
  </header>
  <aside class="user profile">
    <div class="profile_content">
      <!-- <img src="../assets/images/picture.png" alt=""/> --><%= image_tag("picture.png")%>
      <h2><span><%= @user.full_name %></span></h2>
      <p class="username">@<%= @user.happername %></p>
      <span class="line_under_username">&nbsp;</span>
      <p class="description">Digital designer | Creative Artworker<br/>Je fais aussi du freelance, et j’ai un site internet :<br/><span class="bolder">www.arthurguillerminhazan.fr</span></p>
      <ul>
        <li><span class="indicator">Happs</span><br/><span class="count"> <%= @user.posts.count %> </span></li>
        <% if user_signed_in? %>
          <% if @user ||= current_user %>
            <%= render 'shared/stats' %>
          <% end %>
        <% end %>
      </ul>
      <%= render 'follow_form' if user_signed_in? && @user.id != current_user.id %>
    </div>
    <ul class="gallery">
      <li><%= image_tag("Photo_01.png")%></li>
      <li><%= image_tag("Photo_01.png")%></li>
      <li><%= image_tag("Photo_01.png")%></li>
      <li><%= image_tag("Photo_01.png")%></li>
      <li><%= image_tag("Photo_01.png")%></li>
      <li><%= image_tag("Photo_01.png")%></li>
      <li><%= image_tag("Photo_01.png")%></li>
      <li><%= image_tag("Photo_01.png")%></li>
      <li><%= image_tag("Photo_01.png")%></li>
    </ul>
  </aside>

  <section class="list">
    <% if @users.any? %>
      <div class="users_list">
        <% @users.each do |user| %>
          <div class="feed user">
            <span class="letters">AG</span>
            <span class="author"><%= link_to(user.full_name, show_user_path(user.id)) %></span><br>
            <span class="username">@<%= user.happername %></span><br>
            
            <p class="description">bla</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>

  <aside class="right_side">
    <article>
      <h3>Trending topic</h3>
      <ul>
        <li class="trending">#LucasFPD</li>
        <li class="trending">#ManuVelma</li>
        <li class="trending">#ArthurPasDrole</li>
        <li class="trending">#GrosBabache</li>
        <li class="trending">#HeleneBonhomme</li>
      </ul>
    </article>
    <article>
      <h3>Who to follow ?</h3>
      <ul>
        <% @all.each do |user| %>
          <li class="wtf">
            <%= image_tag("Photo_tweet.svg")%>
            <p class="author"><%= link_to(user.full_name, show_user_path(user.id)) %><br/>
              <span class="pseudo">@<%= user.happername %></span>
            </p>
            <div class="follow">
              <%= render 'follow_form' if user_signed_in? && @user.id != current_user.id %>
            </div>
          </li>
          <% end %>
      </ul>
    </article>
  </aside>