<h2>Profile page</h2>
<p>
	<b>Happername </b> <%= @happer.happername %> <br />
	<b>Full name </b> <%= @happer.full_name %> <br />
	<b>E-mail </b> <%= @happer.email %> <br />
	<b>Connections</b> <%= @happer.sign_in_count %><br />
	<b>Joined</b> <%= @happer.created_at %>
</p>
<a href="../edit">Account settings</a>
<a href="http://localhost:3000/">Home</a>