
<div class="container">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<div class="top"></div>
	
	<section>
		<h1><%= image_tag("icons/Logo_HAPP.svg")%></h1>
		<p>Instant short messaging from space and above</p>

			<ul>
				<li class="buttons">
					<a href="users/sign_in" id="log">Log in</a>
				</li>
				<li class="buttons">
					<a href="users/sign_up" id="sign">Sign in</a>
				</li>
			</ul>

			<a <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>>Logout</a>
		</section>
	<footer class="home1">
		<p>Made with love by <a href="#">Arthur <span>Guillermin hazan</span></a> & <a href="#">Helen <span>Pruvot</span></a></p>
	</footer>


	<h3>Early adopters</h3>
	<ul>
		<% @Happers.each do |happer| %>
		<li>
			<a href="users/show/<%= happer.id%>">
			<%= happer.happername %>
			</a>
		</li>
		<% end %>
	</ul>

	<h3>Happs</h3>
	<ul>
		<%	@Happs.each do |happ|%>
		<li>
			<%= happ.text %> <br/>
			<a href="../../posts/<%= happ.id %>">#<%= happ.id %></a> <%= happ.created_at %>
			<% if user_signed_in? && happ.user_id == current_user.id %>
				<%= link_to('Delete', post_delete_path(happ.id)) %>
			<% end %>
			<br/>
			<i><%= happ.user.happername %></i>
		</li>
		<br />
		<% end %>
	</ul>

</div>

	<% if user_signed_in? %>

	<h3>You are logged as <%= current_user.happername %></h3>

	<a href="users/edit">Account settings</a>

	<h3><a href="posts/new">Write a Happ</a></h3>   

	<% else %>

	<p>New user ? <a href="users/sign_up">Create an account</a><br /></p>
	<p>Already an account ? <%= link_to('Login', new_user_session_path)  %> </p> 
	<% end %>
	<br/>


<% if @user ||= current_user %>

<section class="stats">
	<%= render 'shared/stats' %>
</section>

<% end %>

