<!DOCTYPE html>
<html>
<head>
	<title>Happ</title>
	<link data-turbolinks-track="true" href="/assets/posts.css?body=1" media="all" rel="stylesheet" />
	<link data-turbolinks-track="true" href="/assets/relationships.css?body=1" media="all" rel="stylesheet" />
	<link data-turbolinks-track="true" href="/assets/reset-min.css?body=1" media="all" rel="stylesheet" />
	<link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet" />
	<script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/posts.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/relationships.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
	<meta content="authenticity_token" name="csrf-param" />
	<meta content="Q4U78Ppo3Auho7eqovTlH67g3Lys2QsjePlMMV0Hs0A=" name="csrf-token" />

	<p class="notice"></p>
	<p class="alert"></p>
</head>
<body>
	<div class="homepage">
		<header>
			<nav class="top">
				<ul>
					<li><%= link_to(image_tag("icons/House.svg"), root_path) %></li>
					<li><%= link_to(image_tag("icons/user.svg"), show_user_path(current_user.id)) %></li>
					<li><%= link_to(image_tag("icons/Settings.svg"), edit_user_registration_path) %></li>
					<li><%= link_to(image_tag("icons/Logout.svg"), destroy_user_session_path) %></li>
					<li class="right"><a href="#"><!-- <img src="icons/Icon_pen.svg" alt=""> --><%= image_tag("icons/Icon_pen.svg")%></a></li>
					<li class="right input"><input type="text" placeholder="search"></li>
				</ul>
			</nav>
			<%= link_to(root_path) do %><div class="top"></div><% end %>
		</header>
		<aside class="user profile">
			<div class="profile_content">
				<!-- <img src="../assets/images/picture.png" alt=""/> --><%= image_tag("picture.png")%>
				<h2><span><%= @user.full_name %></span></h2>
				<p class="username">@<%= @user.happername %></p>
				<span class="line_under_username">&nbsp;</span>
				<p class="description">Digital designer | Creative Artworker<br/>Je fais aussi du freelance, et j’ai un site internet :<br/><span class="bolder">www.arthurguillerminhazan.fr</span></p>
				<ul>
					<li><span class="indicator">Happs</span><br/><span class="count"> <%= @user.posts.count %> </span></li>
					<% if @user ||= current_user %>
						<%= render 'shared/stats' %>
					<% end %>
				</ul>
				<% if current_user != @user %>
				<a href="" class="side_profile_follow">Follow</a>
				<% end %>
			</div>

		</aside>

		<section>
			<div class="post">
				<p>What's happening?</p>
			</div>

			<% @posts.each do |happ|%>
				<div class="feed">
					<span class="letters">AG</span>
					<p class="text"><%= happ.text %> </p>
					<span class="author"> <%= link_to(happ.user.happername, show_user_path(happ.user.id)) %>|</span><span class="date"> <%= happ.created_at %></span>
					<ul>
						<li><a href="#"><!-- <img src="icons/respond.svg" alt="Answer"> --><%= image_tag("icons/respond.svg")%></a></li>
						<li><a href="#"><!-- <img src="icons/retweet.svg" alt="RT"> --><%= image_tag("icons/retweet.svg")%></a></li>
						<li><a href="#"><!-- <img src="icons/like.svg" alt="Like"> --><%= image_tag("icons/like.svg")%></a></li>
						<% if current_user.id==happ.user.id %><li><%= link_to(image_tag("icons/like.svg"), post_delete_path(happ.id)) %></li><% end %>
					</ul>
				</div>
			<% end %>

		</section>

		<aside class="right_side">
			<article>
				<h3>Trending topic</h3>
				<ul>
					<li class="trending">#LucasFPD</li>
					<li class="trending">#ManuVelma</li>
					<li class="trending">#ArthurPasDrole</li>
					<li class="trending">#GrosBabache</li>
					<li class="trending">#HeleneBonhomme</li>
				</ul>
			</article>
			<article>
				<h3>Who to follow ?</h3>
				<ul>
					<% @users.each do |user| %>
						<li class="wtf">
							<%= image_tag("Photo_tweet.svg")%>
							<p><%= user.full_name %><br/>
								<span class="pseudo">@<%= user.happername %></span></p>
								<%= link_to("Follow", show_user_path(user.id))%>
						</li>
					<% end %>
				</ul>
				</article>
	</div>




	