<div class="container">
  <div class="top"></div>
  <section>
    <h1><%= image_tag("icons/Logo_HAPP.svg")%></h1>
    <p class="base">Instant short messaging from space and above</p>
    <div class="wrapper">
      <div class="bloc"></div>
      <p>Log in</p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <ul>
          <li>
            <%= f.email_field :email, autofocus: true, :required => true, :placeholder => 'EMAIL' %>
          </li>
          <li>
            <%= f.password_field :password, autocomplete: "off", :required => true, :placeholder => 'PASSWORD' %>
          </li>
          <li>
            <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, :class => 'remember' %>
            <% end -%>
          </li>
          <li>
            <%= f.submit "Log in" %>
          </li>
          <% end %>
        </ul>
      </form>
      
    </div>
    <div class="actions">
      <ul>
        <%= render "devise/shared/links" %>
      </ul>
    </div>
  </section>
  <footer class="home1">
    <p>Made with love by <a href="#">Arthur <span>Guillermin hazan</span></a>, <a href="#">Hélène <span>Pruvot</span></a>, <a href="#">Alexandre <span>Debache</span></a>, <a href="#">Lucas <span>Guarneri</span></a> &amp; <a href="#">Emmanuelle <span>Misson</span></a></p>
  </footer>
</div>