<h3>Write your Happ</h3>

<b> you are <%= @logged.happername %><b>

<%= form_for :post, url: posts_path do |f| %>
  <p>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
