<h1>Happ</h1>
<p>single post show</p>
<ul>
	<li>
		<%= @post.text %> <br/>
		<a href="../../posts/<%= @post.id %>">#<%= @post.id %></a> <%= @post.created_at %>
		<% if user_signed_in? && @post.user_id == current_user.id %>
		<%= link_to('Delete', post_delete_path(@post.id)) %><br/>
		<i><%= @post.user.happername %></i>
	</li>
	<% end %>
</ul>

